@use "./assets/sass/variables.scss" as *;
@use "./assets/sass/mixins" as m;
@use "./assets/sass/functions" as f;
@import "./assets/sass/reset.scss";
@import "./assets/sass/fonts.scss";

html {
    scroll-behavior: smooth;
    body {
        margin: 0;

        font-family: $font-family;

        background-color: $color-white;
        line-height: 1.4;

        // Basics
        * {
            box-sizing: border-box;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-tap-highlight-color: transparent;

            // Focus
            &:focus {
                outline: none;
            }
        }
    }
}
