@use "mixins" as m;

@font-face {
    font-family: "percolate";
    src: url("../fonts/icon/percolate.eot");
    src: url("../fonts/icon/percolate.eot") format("embedded-opentype"),
        url("../fonts/icon/percolate.woff") format("woff"), url("../fonts/icon/percolate.ttf") format("truetype"),
        url("../fonts/icon/percolate.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
